html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}
legend {
  font-weight: bold;
}
.image {
  position: absolute;
  margin-top: -20px;
  margin-left: 5px;
}
#fieldset1 {
  border-color: blue;
}
hr {
  border: 7px solid blue;
  width: 76.2%;
  display: inline-block;
}
#legend2 {
  text-align: center;
}
fieldset {
  width: 75%;
}
.h1Enviado {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 93vh;
}
